@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #dee6ee;
	background-attachment: fixed;
}

.nav {
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

.nav img {
	height: 45px;
}

.header {
	margin-bottom: 5px;
}

.content {
	margin: auto;
	margin-top: 10px;
	background: url(images/fg.jpg) no-repeat center center/cover;
	height: 100%;
}

.text {
	position: relative;
	font-family: "Poppins", sans-serif;
	margin-bottom: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	transform: translateY(25%);
	/* text-transform: uppercase; */
	width: 100%;
	height: 800px;
}

.text .title {
	font-size: 50px;
	color: rgb(255, 255, 255);
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.text .slogan {
	font-size: 20px;
	color: #fff;
	text-align: center;
	font-weight: 400;
	letter-spacing: 2px;
}

.sub {
	font-size: 40px;
	color: rgb(0, 0, 0);
	text-align: center;
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.card {
	background-color: #4d5f69;
	border-radius: 20px;
	padding: 15px;
	font-family: "Poppins", sans-serif;
	margin: 30px;
	display: grid;
	grid-template-columns: 0.3fr 1fr;
	place-content: center;
	align-items: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*MEDIA QUERIES*/
@media screen and (max-width: 992px) {
	.card {
		grid-auto-flow: row;
	}
}
@media screen and (max-width: 900px) {
	.card {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: center;
	}

	.card .img__container {
		width: 400px;
	}
}

.card h4 {
	color: #fff;
	font-size: 25px;
	margin: 15px 0;
}

.card p {
	font-size: 20px;
	margin: 15px 0;
	color: #fff;
}

.card .img__container {
	object-fit: contain;
	border-radius: 10px;
	overflow: hidden;
}

.card img {
	display: block;
	width: 100%;
	aspect-ratio: 1/1;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline-block;
	margin: 0 20px;
	position: relative;
	text-decoration: none;
}

ul li a {
	color: #121415;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	letter-spacing: 2px;
}

.container {
	margin: 15px;
	padding: 10px;
}

.class1 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 10px;
}

.class2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 10px;
}

.image {
	width: 100%;
	height: auto;
}

img {
	border-radius: 15px;
}

.dark ul li a {
	color: white;
}

.right li:hover {
	color: gray;
	/* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
	/* background-color: rgb(106, 106, 104); */
}

.right li a:hover {
	color: gray;
}
